upstream {{ app_name }}_server {
    server unix:/tmp/{{ app_name }}.sock fail_timeout=0;
}

map $http_user_agent $is_bot {
    default 0;
    ~webmeup|BLEXBot|MJ12bot|AhrefsBot 1;
}

server {
    listen 80;
    server_name = {{ app_domain }} www.{{ app_domain }};
    client_max_body_size 10M;
    keepalive_timeout 5;

    location /static/ {
        gzip on;
        gzip_types text/javascript text/css;
        gzip_static on;
        alias   /opt/{{ app_name }}/hclist/hclist/static/;
    }
    
    location /media/ {
        alias   /opt/{{ app_name }}/hclist/hclist/media/;
    }

    location /favicon.ico {
        alias /opt/{{ app_name }}/hclist/hclist/static/img/favicon.ico;
    }
    
    location / {
        if (-f /tmp/maintenance) {
            return 503;
        }
        if ($is_bot) {
            return 403;
        }
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://{{ app_name }}_server;
    }
}
