[program:xvfb]
command=/usr/bin/Xvfb :99
level=INFO
directory=/opt/{{ app_name }}/hclist
user=www-data
numprocs=1
stdout_logfile=/var/log/hclist/xvfb.log
stderr_logfile=/var/log/hclist/xvfb.log
autostart=true
autorestart=true
startsecs=10

stopasgroup=true

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 60

; When resorting to send SIGKILL to the program to terminate it
; send SIGKILL to its whole process group instead,
; taking care of its children as well.
killasgroup=true
