CURRENT_SITE = r'{{ app_name }}'
REDIS_PASSWORD = r'{{ redis_password }}'
DATABASE_PASSWORD = r'{{ postgres_password }}'
SECRET_KEY = r'{{ django_secret_key }}'
DIGITAL_OCEAN_OAUTH_TOKEN = r'{{ digital_ocean_oauth_token }}'
