[program:{{ app_name }}]
command=/opt/{{ app_name }}/gunicorn_start
user=www-data
stdout_logfile=/var/log/hclist/gunicorn_{{ app_name }}.log
stderr_logfile=/var/log/hclist/gunicorn_{{ app_name }}.log
autostart=true
autorestart=true
startsecs=10
priority=1